.nav-macarena {
    background: #FFFFFF
}

.bg-light {
    background: #FFFFFF !important;

}


.logo-navbar {
    width: 97px;
    height: 97px;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
}

.navbar-toggler collapsed {
    position: absolute;
    left: 74.93%;
    right: 0%;
    top: 0%;
    bottom: 0%;

}

.navbar-pers {
    flex-grow: unset !important;

}

#navbarNavDropdown {
    margin-top: 71px;
}


.navbar-light .navbar-toggler {
    Width: 94px;
    Height: 70px;
    position: absolute;
    left: 74.93%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    border-color: rgba(0, 0, 0, 0);

}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 0;
}