@import './variables';
@import './mixins';

/*estilos UI KIT */

//classes de estilo
html {
    width: 100%;
}

.titulo-1 {
    font-family: $rec-reg;
    font-size: 45px;
    line-height: 56px;
}

.titulo-2 {
    font-family: $rec-light;
    font-size: 25px;
    line-height: 56px;
}

.btn-texto {
    font-family: $mess-sb;
    font-size: 15px;
    line-height: 56px;
}

.titulo-web {
    font-family: $rec-reg;
    font-size: 60px;
    line-height: 56px;
}

.texto-1 {
    font-family: $mess-reg;
    font-size: 19px;
    line-height: 35px;
}

.texto-2 {
    font-family: $mess-reg;
    font-size: 15.5px;
    line-height: 22px;
    letter-spacing: 0.35px;
}

.texto-3 {
    font-family: $mess-bk;
    font-size: 15px;
    line-height: 18px;
    text-decoration-line: underline;
}

.texto-4 {
    font-family: $mess-bk;
    font-size: 12px;
    line-height: 18px;
}


/*ESTILOS PAGINA*/
body {
    position: relative;
    width: 100%;
}

.b-estancia {
    position: relative;
    //height: 403.4151547491996vh;
    height: 3700px;
    background: #FFFFFF;

    @include web-laptop {
        position: relative;
        height: 4439px;
        background: #FFFFFF;

    }

    @include tablet-horizontal {
        position: relative;
        height: 4439px;
        background: #FFFFFF;

    }


}

.b-actividades {
    position: relative;
    height: 275.625rem;
    width: 100%;
    background: #FFFFFF;

    @include web-laptop {
        height: 235.563rem;
    }
}

.white-background {
    //border: 5px solid green;
    height: 80%;
    position: absolute;
    width: 100%;
    overflow: hidden;

    & .laurel-der1 {
        background-image: url("/assets/img/img/laurel derecha.svg");
        background-repeat: no-repeat;
        position: absolute;
        background-blend-mode: multiply;
        z-index: 2;
        // border: 5px solid blue;
        width: 15.416666666666666vw;
        height: 100%;
        right: 0vw;
        top: 10%;

        @include web-laptop {
            right: -12vw;
            width: 42.18rem;
            height: 70rem;
            background-size: 42.18rem 70rem;
            z-index: 1;


        }

        @include tablet-horizontal {
            right: -6.5vw;
            width: 42.18rem;
            height: 70rem;
            background-size: 42.18rem 70rem;
            z-index: 1;
        }


    }

    & .laurel-der2 {
        background-image: url("/assets/img/img/laurel derecha.svg");
        background-repeat: no-repeat;
        position: absolute;
        background-blend-mode: multiply;
        // border: 5px solid blue;
        width: 15.416666666666666vw;
        height: 100%;
        right: 0vw;
        top: 48.5%;
        z-index: 3;

        @include web-laptop {
            right: -12vw;
            width: 42.18rem;
            height: 70rem;
            background-size: 42.18rem 70rem;
            z-index: 1;


        }

        @include tablet-horizontal {
            right: -6.5vw;
            width: 42.18rem;
            height: 70rem;
            background-size: 42.18rem 70rem;
            z-index: 1;
        }


    }

    & .laurel-izq {
        background-image: url("/assets/img/img/laurel izquierda.svg");
        background-repeat: no-repeat;
        position: absolute;
        background-blend-mode: multiply;
        // border: 5px solid blue;
        width: 15.416666666666666vw;
        height: 100%;
        left: 0px;
        top: 70%;
        z-index: 2;

        @include web-laptop {
            left: -12vw;
            width: 42.18rem;
            height: 70rem;
            background-size: 42.18rem 70rem;
            z-index: 1;


        }

        @include tablet-horizontal {
            left: -6.5vw;
            width: 42.18rem;
            height: 70rem;
            background-size: 42.18rem 70rem;
            z-index: 1;
        }


    }

    .color-block {
        // border: 5px solid blue;
        background-color: $beige-claro;
        opacity: 50%;
        width: 100%;
        z-index: 1;
    }


}


/*imagen abajo header*/


.banner {
    & .layer {
        // border: 5px solid green;
        position: absolute;
        width: 100%;
        height: 15%;
        left: 0px;
        top: 0px;
        z-index: 4;
        background-color: #000000;
        opacity: 40%;
    }

    & .content {
        // border: 5px solid yellow;
        position: absolute;
        width: 100%;
        height: 13rem;
        top: 11.875rem;
        z-index: 4;

        & .titulo-1 {
            color: $blanco;
            text-align: center;
            line-height: 50px;
            font-size: 40px;

        }

        & .texto-1 {
            color: $blanco;
            text-align: center;
            font-size: 16px;
            line-height: 30px;
            letter-spacing: 0.35px;
            margin-top: 4rem;
            margin-bottom: 0rem;
            padding-left: 10px;
            padding-right: 10px;


        }

    }

    & .img-estancia {
        position: absolute;
        width: 100%;
        height: 15%;
        left: 0px;
        top: 0px;
        z-index: 3;
        background: rgba(0, 0, 0, 0.4);
        background-image: url(/assets/img/img/content/21.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 40% bottom;



        @include web-laptop {
            position: absolute;
            width: 100%;

        }
    }
}

.laCasa {
    position: absolute;
    // border: 5px solid yellow;
    width: 100%;
    top: 15%;
    padding: 1rem;
    z-index: 3;

    @include web-laptop{
        top: 16%;
    }


    & h2 {
        color: $verde;
        font-size: 32px;
        line-height: 45px;

        @include web-laptop{
            font-size: 45px;
            line-height: 56px;  
            padding-left: 3rem;
        }
    }

    & p {
        color: $verde;
        font-size: 16px;
        line-height: 15px;
        letter-spacing: 0.35px;
        margin-bottom: 30px;

        @include web-laptop{
                        padding-left: 3rem;
            font-size: 19px;
line-height: 35px;
        }
    }

    @include web-laptop{
        .carousel{
            padding-left: 3rem;;
            
            
        }

    }

    .carousel-item {
        min-height: 29.882604055496266vh;

        & img {
            margin-bottom: 5.336179295624333vh;
        }

        @include web-laptop{
            height: 60%;
           width:65%;

           & .w-100{
              height: 100%;
               
           }
        }

       
    }


    & .footer-carousel {
        //  border: 5px solid yellow;
        height: 6.336179295624333vh;
        bottom: 0px;
        left: 0px;
        right: 0px;
        width: 100%;
        background-color: $beige-claro;
        padding-bottom: 5.336179295624333vh;

        & p {
            color: $verde;
            font-size: 0.75rem;
        }

       
    }
}

.Exteriores {
    position: absolute;
    //  border: 5px solid yellow;
    width: 100%;
    max-height: 73.63927427961579vh;
    top: 28%;
    padding: 1rem;
    z-index: 2;

    @include web-laptop{
        top:38%;
        padding-left: 3.5rem;

        & .carousel{
          width: 90%;
        }

        & .w-100{
            max-height: 600px !important ;
            width:100% !important;
        }
    }

    @include tablet-horizontal{
        top:33%;
        padding-left: 3rem;
    }

    & h2 {
        margin-top: 1.875rem;
        margin-bottom: 3.125rem;
        color: $verde;
        font-size: 32px;
        line-height: 45px;

        @include web-laptop{
            font-size: 45px;
            line-height: 56px;
        }
    }

    & .img-ext {
        padding-top: 1.5rem;

    }

    & .exterior-img {
        width: 100%;
        max-height: 12.8068303094984vh;

        @include web-laptop{
            max-height: 50vh;
        }
    }

    & p {
        padding-top: 2.5rem;
        color: $verde;
        font-size: 15px;
        line-height: 1.25rem;
        letter-spacing: 0.35px;

        @include web-laptop{
            font-size: 19px;
            line-height: 35px;
        }
    }

}

.estancia-cb {
    height: 80.63927427961579vh;
    position: absolute;
    top: 48%;

}

.estancia-cb2 {
    top: 0px;
    position: absolute;
    height: 184.63180362860192vh;
}

.Instalaciones {
    background-color: rgba(239, 228, 212, 0.5); //excepcion para beige 50% opacidad
    //height: 73.63927427961579vh;
    position: absolute;
    top: 48%;
    width: 100%;
    z-index: 3;
    padding-left: 0.225rem;
    padding-right: 0.625rem;
    padding-bottom: 2rem;

    @include web-laptop{
        top:66%;
        padding-left: 3rem;
    }

    & .img-web{
        display: none;

        @include web-laptop{
            display: block;
            width: 20rem;
            height: 24rem;
            box-shadow: 7px 8px 5px $verde;
        }

        @include tablet-horizontal{
            display: block;
            width: 16rem;
            height: 17rem;
            box-shadow: 7px 8px 5px $verde;
        }
    }

  

    & .row {
        margin-left: 0px;
        margin-right: 0px;
    }

    & h2 {
        padding-left: 1.125rem;
        font-size: 32px;
        line-height: 1.875rem;
        color: $verde;
        margin-top: 4.375rem;
        margin-bottom: 1.875rem;

        @include web-laptop{
            font-size: 45px;
            line-height: 56px;
        }
    }

    & .marg-der {
        border-right: 1px solid $mostaza-claro;
    }

    & .col {
        padding: 0px 20px 20px 20px;
    }

    & .areas-inst {
        border-bottom: 1px solid $mostaza-claro;
        width: 90%;
        margin-left: 0.625rem;

        & h3 {
            font-size: 16px;
            line-height: 1.25rem;
            color: $verde;

        }

        & ul {
            padding: 0px;
        }

        & li {
            list-style: none;
            font-size: 12px;
            line-height: 17px;
            color: $verde;
        }
    }
}

.normasCasa {
    position: absolute;
    top: 68%; // border: 5px solid yellow;
    width: 100%;
    height: 52.294557097118464vh;
    padding: 1.563rem;

    @include web-laptop{
        top:81%;
        padding-left: 3.5rem;

        & h2{
           
                font-size: 45px;
    line-height: 56px;
            
        
        }
    }

    & .normas {
        border-right: 1px solid $mostaza-claro;
        margin-top: 0.938rem;
        margin-bottom: 0.938rem;


    }

    & h3 {
        font-size: 16px;
        line-height: 30px;

      
        
    }

    & p {
        font-size: 12px;
        line-height: 17px;
    }
      

    & hr {
        position: static;
        width: 9.375vw;
        height: 0px;
        border-bottom: 1px solid $mostaza-claro;
        opacity: 100%;
    }
}

.container {
    @include web-laptop {
        max-width: 100% !important;
    }

    @include tablet-horizontal {
        max-width: 100% !important;
    }
}

.en-estancia {
    position: absolute;
    top: 10%;
    z-index: 1;
    background-color: rgba(239, 228, 212, 0.5); //excepcion para beige 50% opacidad ;
    padding-top: 15rem;




    & .titulo-2 {
        color: $verde;
        font-size: 32px;
        line-height: 2.813rem;
        margin-top: 5rem;

        @include web-laptop {
            margin-left: 6rem;
            font-size: 45px;
            line-height: 56px;
        }


    }

    & .texto-1 {
        color: $verde;
        font-size: 16px;
        line-height: 1.875rem;

        @include web-laptop {
            margin-left: 6rem;
            font-size: 19px;
            line-height: 35px;
        }
    }

    & .card-act {
        padding: 0.625rem;
        z-index: 4;

        @include web-laptop {
            padding: 0px;
            margin-left: 5rem;
        }

    }

    & .card {
        background-color: $blanco !important;
        z-index: 5;
        padding: 0px;
        max-width: 45%;
        border-radius: 3.28125px;
        box-shadow: 0px 0px 0.65625px rgba(20, 20, 20, 0.04), 0px 0px 5.25px rgba(20, 20, 20, 0.08);
        border: none;
        margin: 01rem 0.344rem;
        z-index: 3;

        @include web-laptop {
            width: 20%;
            height: 18rem;
            margin: 1.5rem;
        }

        @include tablet-horizontal {
            width: 30%;
        }

    }

    & img {
        width: 100%;
        height: 14.08751334044824vh;
        z-index: 3;

        @include web-laptop {
            height: 58%;
        }
    }


    & .tarj-title {
        margin-top: 0.813rem;
        padding-left: 0.625rem;
        color: $verde;
        font-size: 16px;
        line-height: 1.875rem;

        @include web-laptop {
            font-size: 15.5px;
            line-height: 22px;
            text-align: center;
            margin-left: auto;
        }

    }

    & .card-text {
        padding-left: 0.625rem;
        padding-right: 0.625rem;
        margin-bottom: 0.625rem;
        color: $verde;
        font-size: 12px;
        line-height: 1.063rem;
        text-align: left;


    }
}

.alrededores {
    position: absolute;
    top: 45%;
    z-index: 4;

    @include web-laptop{
        padding-left: 6rem;
    }


    & h1 {
        padding-left: 0.3rem;
        margin-bottom: 3rem;

        
    }

    & p {
        padding-left: 0.3rem;
    }

    & .titulo-2 {
        color: $verde;
        font-size: 32px;
        line-height: 45px;

        @include web-laptop{
            font-size: 45px;
            line-height: 56px;  
        }

    }

    & .texto-1 {
        color: $verde;
        font-size: 16px;
        line-height: 30px;

        @include web-laptop{
            font-size: 19px;
            line-height: 35px; 
        }

    }

    & .actividad {
        padding: 0px 1rem 1rem;

        & .titulo-rojo {
            font-family: $mess-reg;
            font-size: 22px;
            line-height: 56px;
            color: $tierra;

            @include web-laptop{
                font-size: 25px;
line-height: 56px;

            }

        }

        & .text-act {
            color: $verde;
            font-family: $mess-reg;
            font-size: 12px;
            line-height: 20px;

            @include web-laptop{
                font-size: 12px;
line-height: 25px;
                
            }
        }



        & img {
            height: 11.813rem;
            width: 100%;
            margin-bottom: 1rem;
            box-shadow: 0px 1px 8px 2px rgba(20, 20, 20, 0.08);
            filter: drop-shadow(0px 0px 1px rgba(20, 20, 20, 0.08));
            border-radius: 5px;

            @include web-laptop{
                height: 15.813rem;
            }


        }
    }

    & .mob{
        display: contents;

        @include web-laptop{
            display: none;
        }
    }

    & .web{
        display:none;

        @include web-laptop{
            display: contents;
        }
    }

   

    @include web-laptop{
       
        & .col-md-2 {
            width: 50%;
        }

        .par{
            flex-direction: row-reverse;
            margin-top: 6rem;
        }

        .impar{
            
            margin-top:6rem;
        }
    
    }

    @include tablet-horizontal{
       
        & .col-md-2 {
            width: 50%;
        }

        .par{
            flex-direction: row-reverse;
            margin-top: 10rem;
        }

        .impar{
            
            margin-top: 10rem;
        }
    
    }

}


    .footer {
        position: absolute;
        width: 100%;
        //height: 65.4375667022412vh;
        bottom: 0px;
        background: rgba(2, 59, 49, 0.8);
        display: flex;
        flex-direction: column;

        @include web-laptop {
            position: absolute;
            width: 100%;
            left: 0%;
            right: 0%;
            bottom: 0%;
            background: rgba(2, 59, 49, 0.8);
            height: 349px;
            flex-direction: row;

        }

        @include tablet-horizontal {
            position: absolute;
            width: 100%;
            left: 0%;
            right: 0%;
            bottom: 0%;
            background: rgba(2, 59, 49, 0.8);
            height: 349px;
            flex-direction: row;

        }



        & .logo {
            height: 23.479188900747065vh;

            & img {
                margin-left: 18px;
                width: 140px;
                height: 140px;
            }

            @include web-laptop {
                width: 30%;
                height: 100%;

                & img {
                    margin-left: 150px;
                    margin-top: 54px;
                    margin-bottom: 155px;
                    width: 145px;
                    height: 145px;
                }

            }

            @include tablet-horizontal {
                width: 30%;
                height: 100%;
            }




        }

        & .links-rrss {
            height: 220px;
            display: flex;
            flex-direction: row;

            @include web-laptop {
                width: 60%;
                height: 100%;
            }

            @include tablet-horizontal {
                position: relative;
                width: 20%;
                height: 100%;

            }

            &--link {
                height: 220px;
                width: 50%;

                &.seguinos {

                    @include web-laptop {
                        position: relative;
                        width: 200px;
                        height: 200px;
                        // right: 208px;
                        top: 82px;

                    }



                    @include tablet-horizontal {
                        position: relative;
                        width: 100%;
                        height: 200px;
                        right: -45vw;
                        top: 82px;

                    }

                }

                &.macarena {

                    @include web-laptop {
                        margin-top: 82px;
                    }

                    @include tablet-horizontal {
                        margin-top: 82px;

                    }
                }

                &__title {
                    margin-left: 15px;
                    color: $blanco;
                }

                & .rrss-icon {
                    height: 30px;
                    width: 30px;
                    margin-left: 7.5px;
                    margin-right: 7.5px;
                    margin-top: 10px;
                }

                & ul {
                    padding-left: 15px;

                    & li {
                        list-style-type: none;
                        letter-spacing: 0.35px;
                        margin: 15px 0px;

                        & a {
                            color: $blanco;
                            text-decoration: none;


                        }

                    }
                }
            }



        }

        & .datos-contacto {
            //height: 23.479188900747065vh;
            color: $blanco;
            margin-left: 15px;

            & p {
                letter-spacing: 0.35px;
                margin: 15px 0px;
            }

            & .icon-blanco {
                padding-right: 15px;


            }

            @include web-laptop {
                position: relative;
                margin-top: 82px;

            }

            @include tablet-horizontal {
                position: relative;
                margin-top: 82px;
                width: 30%;
                ;

            }


        }

    }

    /*ESTILOS LIBRES*/

    /*relleno para navbar*/
    .placeholder {
        background-color: blueviolet;
        height: 70px;
        position: absolute;
        width: 100%;
        height: 70px;
        left: 0px;
        top: 0px;
        opacity: 50%;
        z-index: 99;


        @include web-laptop {
            position: absolute;
            width: 100%;
            left: 0px;
            top: 0px;
            opacity: 50%;

        }

        @include tablet-horizontal {
            position: absolute;
            width: 100%;
            left: 0px;
            top: 0px;
            opacity: 50%;


        }



    }