@import './sass/variables';
@import './sass/mixins';



/*ESTILOS LIBRES*/

.icon-blanco {
    fill: $blanco;
}

/*relleno para navbar*/
.placeholder {
    background-color: blueviolet;
    height: 70px;
    position: absolute;
    width: 100%;
    height: 70px;
    left: 0px;
    top: 0px;
    opacity: 50%;

    @include web-laptop {
        position: absolute;
        width: 100%;
        left: 0px;
        top: 0px;
        opacity: 50%;

    }

    @include tablet-horizontal {
        position: absolute;
        width: 100%;
        left: 0px;
        top: 0px;
        opacity: 50%;

    }

}

.navbar {
    // width: 1420px;
    height: 80px !important;
    padding: 0px !important;
    border: 0px !important;
    z-index: 99;

    & .r-rev{
        display:none !important;

        @include web-laptop {
            display: flex !important;
        }

        @include tablet-horizontal {
            display: flex !important;
        }
    }

    &-toggler {
        margin-left: 12px;
        margin-right: 12px;
    }

    & .container-sm {
        max-height: 80px;
        padding: 0px;;

        & .navbar-brand{
            height: 70px;
            padding: 0px;

            & img{
                position: absolute;
                top: -10px;

                @include web-laptop {
                    position:absolute;
                
                }

            }
        }

        & .nav-link{
            padding: 15px;
        }
    }


}

/*@mixin telefono {
    @media (min-width: 599px) {
        .navbar{
            height: auto;
            & #social{
                height: 100%;
                background-color: #FFFFFF;
            }
        }
    }
}*/

/*INDEX STYLE*/

.index {
    position: relative;

    @include telefono{
        height: 3630px;
    }
}

// .jumbotron {
//     color: white;
//     background-image: url("/assets/img/20210502_163554.jpeg");
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: cover;
//     height: 100vh;
// } 

header {
    background: no-repeat center center;
    background-size: cover;
    color: white;
    min-height: 100vh;
}

.navbar {
    background: #F9F9F9 !important;
/*     opacity: 0.8 !important; */
    color: $verde !important;
   
}

hr {
    color: $tierra;
    size: 50%;
}


.btnHero {
    display: block;
    width: 100% !important;
    border: none;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    background: #9F5030;
    border-radius: 2px;
    color: $blanco;
    font-family: $mess-reg;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 56px;
    
    & .btnHero:hover{
        background-color: #ddd;
        color: black;
    }


}

.color-overlay {
    min-height: 100vh;
    background-color: rgba(24, 24, 24, 0.3);
}

@media (max-width: 767.98px) {
    .color-overlay {
        min-height: 100vh;
    }
}

.maps {
    background-color: $verde;
}

.encontDiv {
    background-color: #EFE4D4;
}

.border_input {
    border-color: $mostaza-claro !important;
}


// .cards {
//     /* Organismo/ Card Web */

// position: relative;
// width: 250px;
// height: 400px;

// background: #FFFFFF;
// /* MEDIUM SHADOW */
// box-shadow: 0px 0px 1px rgba(20, 20, 20, 0.08), 0px 1px 8px 2px rgba(20, 20, 20, 0.08);
// border-radius: 5px;


// /* Organismo/ Card Actividades Web */

// position: absolute;
// left: 0%;
// right: 0%;
// top: 0%;
// bottom: 49.75%;

// /* MEDIUM SHADOW */
// box-shadow: 0px 1px 8px 2px rgba(20, 20, 20, 0.08);
// filter: drop-shadow(0px 0px 1px rgba(20, 20, 20, 0.08));
// border-radius: 2px 2px 0px 0px;


// /* Element/Cover image */

// /* Auto Layout */
// display: flex;
// flex-direction: column;
// align-items: flex-start;
// padding: 0px;

// position: absolute;
// width: 250px;
// height: 250px;
// left: 0px;
// top: 0px;

// background: url(.jpg);


// /* Aspect ratio keeper # Rotated Auto Layout */

// /* Auto Layout */
// display: flex;
// flex-direction: column;
// align-items: center;
// padding: 0px;

// position: static;
// width: 250px;
// height: 0px;
// right: -21.65px;
// bottom: 109.37px;

// transform: rotate(-34.23deg);

// /* Inside Auto Layout */
// flex: none;
// order: 0;
// align-self: stretch;
// flex-grow: 0;
// margin: 0px 0px;


// /* Element/content */

// /* Auto Layout */
// display: flex;
// flex-direction: column;
// align-items: flex-start;
// padding: 12px;

// position: absolute;
// left: 0%;
// right: 0%;
// top: 50.25%;
// bottom: 0%;



// /* Element/content-top */

// /* Auto Layout */
// display: flex;
// flex-direction: column;
// align-items: flex-start;
// padding: 0px;

// position: static;
// width: 221px;
// height: 174.99px;
// left: 12px;
// top: 12px;


// /* Inside Auto Layout */
// flex: none;
// order: 0;
// flex-grow: 1;
// margin: 12px 0px;


// /* Element/title */

// /* Auto Layout */
// display: flex;
// flex-direction: column;
// align-items: flex-start;
// padding: 0px;

// position: static;
// width: 221px;
// height: 37px;
// left: 0px;
// top: 0px;


// /* Inside Auto Layout */
// flex: none;
// order: 0;
// flex-grow: 0;
// margin: 10px 0px;


// /* title */

// position: static;
// width: 216px;
// height: 37px;
// left: 0px;
// top: 0px;

// /* Texto 2 */
// font-family: Messina Sans;
// font-style: normal;
// font-weight: normal;
// font-size: 15.5px;
// line-height: 22px;
// /* or 142% */
// display: flex;
// align-items: center;
// letter-spacing: 0.35px;

// /* Verde */
// color: #033B31;


// /* Inside Auto Layout */
// flex: none;
// order: 0;
// flex-grow: 0;
// margin: 5px 0px;


// /* Element/title */

// /* Auto Layout */
// display: flex;
// flex-direction: row;
// align-items: flex-start;
// padding: 0px;

// position: static;
// width: 221px;
// height: 127px;
// left: 0px;
// top: 47px;


// /* Inside Auto Layout */
// flex: none;
// order: 1;
// flex-grow: 0;
// margin: 10px 0px;


// /* title */

// position: static;
// width: 221px;
// height: 117px;
// left: 0px;
// top: 0px;

// /* Texto 4 */
// font-family: Messina Sans;
// font-style: normal;
// font-weight: normal;
// font-size: 12px;
// line-height: 18px;
// /* or 150% */

// /* Verde */
// color: #033B31;


// /* Inside Auto Layout */
// flex: none;
// order: 0;
// flex-grow: 0;
// margin: 0px 5px;


// /* wrapper */

// position: static;
// width: 0px;
// height: 20px;
// left: 0px;
// top: 184px;


// /* Inside Auto Layout */
// flex: none;
// order: 2;
// flex-grow: 0;
// margin: 10px 0px;

// }

.laurel{
    /* 1 1 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;


background-blend-mode: multiply;

}



/* .nav_bar_cel {
    background-color: #FFFFFF;
    position: relative;
    left: 0%;
    right: 0%;
    top: 22.12%;
    bottom: 0%;
} */

// #flecha {
//     position: absolute;

//     transform: rotate(-90deg);
// }

/*imagen abajo header*/

/*.img-estancia {
    position: absolute;
    width: 375px;
    height: 480px;
    left: 0px;
    top: 0px;
    background: rgba(0, 0, 0, 0.4);
}*/