@import './sass/variables';
@import './sass/mixins';



/*ESTILOS LIBRES*/

.icon-blanco {
    fill: $blanco;
}


.navbar {
    // width: 1420px;
    height: 80px !important;
    padding: 0px !important;
    border: 0px !important;
    z-index: 99;

    & .r-rev {
        display: none !important;

        @include web-laptop {
            display: flex !important;
        }

        @include tablet-horizontal {
            display: flex !important;
        }
    }

    &-toggler {
        margin-left: 12px;
        margin-right: 12px;
    }

    & .container-sm {
        max-height: 80px;
        padding: 0px;
        ;

        & .navbar-brand {
            height: 70px;
            padding: 0px;

            & img {
                position: absolute;
                top: -10px;

                @include web-laptop {
                    position: absolute;

                }

            }
        }

        & .nav-link {
            padding: 15px;
        }
    }


}

/*@mixin telefono {
    @media (min-width: 599px) {
        .navbar{
            height: auto;
            & #social{
                height: 100%;
                background-color: #FFFFFF;
            }
        }
    }
}*/

/*INDEX STYLE*/

.index {
    position: relative;
    height: 100%;

    & .ofrecemos {

        & .red-line {
            display: none;
        }
    }

    & .footer {
        position: relative;
    }

    & .index-act{
        margin-bottom: 2rem !important;

        & .btnHero {
            width: 250px !important;
        }
    }

    @include telefono {
        height: 100%;

        & header {
            max-height: 70vh !important;
            min-height: 70vh !important;

            & .jumbotron {
                max-height: 70vh !important;
                min-height: 70vh !important;
            }

            & .color-overlay {
                min-height: 10vh;
                max-height: 70vh;
            }
        }

        & .laurel-der2 {
            background-image: url("/assets/img/img/laurel derecha.svg");
            background-repeat: no-repeat;
            position: absolute;
            background-blend-mode: multiply;
            // border: 5px solid blue;
            width: 15.416666666666666vw;
            height: 40%;
            right: 0vw;
            top: 30.5%;
            z-index: 1;


        }

        & .laurel-izq {
            background-image: url("/assets/img/img/laurel izquierda.svg");
            background-repeat: no-repeat;
            position: absolute;
            background-blend-mode: multiply;
            // border: 5px solid blue;
            width: 15.416666666666666vw;
            height: 40%;
            left: 0px;
            top: 55%;
            z-index: 2;


        }

        & .t-banner {
            padding: 0rem 2.5rem 0rem;
            text-align: center;
        }

        & .titulo-3 {
            padding: 0rem 2.5rem 0rem;
            text-align: center;

        }

        & .btnHero {
            padding: .1rem .2rem;
            width: 11rem !important;
            height: 3rem !important;

            & .fa-arrow-right {
                margin-left: 1rem !important;

            }
        }

        & .encontDiv {

            & .bannner-map {
                flex-direction: column-reverse;

                & .maps {
                    background-color: transparent;
                    box-shadow: 5px 6px 4px 3px $verde;
                    padding: 0px !important;

                    & iframe {
                        height: 16.875rem;
                    }


                }

                & .btnHero {
                    width: 15.625rem !important;
                    margin-bottom: 1rem;
                    margin-left: 0.938rem;
                    z-index: 3;
                }
            }

            & .titulo-1 {
                font-size: 32px;
                line-height: 45px;
                width: 100%;

            }

        }

        & .ofrecemos {

            & .titulo-1 {
                font-size: 32px;
                line-height: 45px;
            }

            & .p-desc {
                font-size: 12px;
                line-height: 18px;
                font-family: $mess-reg;
                color: $verde;
                margin-top: 1.5rem;
            }

            & .mb-5 {
                margin-bottom: 1rem !important;
            }

            & .mt-5 {
                margin-top: 1rem !important;
            }

            & .red-line {
                display: block;
                border-top: $tierra solid 1px;
                margin-bottom: 1rem;
                margin-top: 1rem !important;
            }

            & .btnHero {
                width: 15.625rem !important;
                margin-left: 2.2rem !important;
            }
        }

        & .index-act {
            margin-bottom: 2rem !important;

            & .titulo-1 {
                color: $verde;
                font-size: 32px;
                line-height: 45px;
            }

            & .titulo-2 {
                color: $verde;
                font-size: 18px;
                line-height: 30px;
            }

            & .col {
                padding: 0.3rem;
            }

            & .card {
                position: relative;
                height: 100%;
                width: 45.75vw;
                box-shadow: 0px 0px 0.65625px rgba(20, 20, 20, 0.04), 0px 0px 5.25px rgba(20, 20, 20, 0.08);
                border-radius: 3.28125px;
                border: none;


                & img {
                    height: 8.25rem;
                }

                & .card-title {
                    color: $verde;
                    font-size: 16px;
                    line-height: 25px;
                    font-family: $mess-reg;

                }

                & .card-text {
                    font-family: $mess-reg;
                    color: $verde;
                    font-size: 12px;
                    line-height: 17px;
                }
            }

            & .btnHero {
                width: 15.625rem !important;
                margin-left: 2.5rem !important;
            }
        }
    }
}

.contact-banner {

    max-height: 70vh !important;
    min-height: 70vh !important;

    & .jumbotron {
        //max-height: 70vh !important;
        min-height: 60vh !important;
    }

    & .color-overlay {
        //
        max-height: 60vh;
        min-height: 59vh !important;
    }

}

.footer-contacto {
    position: relative !important;
}

.Contacto {
    background-color: rgba(239, 228, 212, 0.5);



    @include telefono {
        & .titulo-1 {
            font-family: $rec-reg;
            color: $verde;
            font-size: 32px;
            line-height: 45px;
            text-align: left !important;
            padding: 3rem .3rem 1.3rem 1.8rem !important;

        }

        .row {
            flex-direction: column;
            margin-left: 1rem !important;

            & .r-mobile {
                margin-left: 0px !important;
                padding-left: 0px;
                width: 100%;

                & .titulo-2 {
                    color: $verde;
                    font-family: $mess-reg;
                    font-size: 16px;
                    line-height: 30px;

                }

                & .texto-2 {
                    font-size: 12px;
                    line-height: 17px;
                    font-family: $mess-reg;
                    color: $verde;
                }

                & .texto-3 {
                    font-size: 12px;
                    line-height: 17px;
                    font-family: $mess-reg;
                    color: $verde;
                }
            }

            & .col-mob {
                width: 100%;



                & .titulo-2 {
                    color: $verde;
                    font-family: $mess-reg;
                    font-size: 16px;
                    line-height: 30px;

                }

                & input,
                textarea {
                    font-size: 12px;
                    line-height: 17.8px;
                    font-family: $mess-reg;
                    color: $verde;
                    width: 17rem;
                }

                & textarea {
                    height: 8rem;
                }

                & label {
                    font-size: 12px;
                    line-height: 17px;
                    font-family: $mess-reg;
                    color: $verde;
                }

                & .btnHero {
                    width: 15.625rem !important;
                    height: 3.5rem;

                    & #text {
                        margin-top: -1rem;
                    }
                }
            }

            & .rrss-banner {
                width: 100%;

                & .links-rrss--link {
                    display: inline-flex;

                    & h4 {
                        margin-right: 8rem;
                        font-size: 12px;
                        line-height: 17px;
                    }


                }
            }
        }


    }
}

.text-left {
    @include telefono{
        margin-bottom: 4rem;

        & iframe{
            max-height: 250px;
        }
    }

    .titulo-1 {
        @include telefono {
            color: $verde;
            font-size: 32px;
            line-height: 45px;
            font-family: $rec-reg;
        }
    }
}

.laurel-der2-contacto {
    background-image: url("/assets/img/img/laurel derecha.svg");
    background-repeat: no-repeat;
    position: absolute;
    background-blend-mode: multiply;
    // border: 5px solid blue;
    width: 15.416666666666666vw;
    height: 40%;
    right: 0vw;
    //top: 30.5%;
    z-index: 1;


}

header {
    background: no-repeat center center;
    background-size: cover;
    color: white;
    min-height: 100vh;
}

.navbar {
    background: #F9F9F9 !important;
    /*     opacity: 0.8 !important; */
    color: $verde !important;

}

hr {
    color: $tierra;
    size: 50%;
}


.btnHero {
    display: block;
    width: 100% !important;
    border: none;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    background: #9F5030;
    border-radius: 2px;
    color: $blanco;
    font-family: $mess-reg;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 56px;

    & .btnHero:hover {
        background-color: #ddd;
        color: black;
    }


}

.color-overlay {
    min-height: 100vh;
    background-color: rgba(24, 24, 24, 0.3);
}

@media (max-width: 767.98px) {
    .color-overlay {
        min-height: 100vh;
    }
}

.maps {
    background-color: $verde;
}

.encontDiv {
    background-color: rgba(239, 228, 212, 0.5);
}

.border_input {
    border-color: $mostaza-claro !important;
}



.laurel {
    /* 1 1 */

    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;


    background-blend-mode: multiply;

}

#ok {
    width: 151px;
    height: 151px;
}

.OK {
    background: rgba(239, 228, 212, 0.5);
}